# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [3]:
# install missing library
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (3.11.0)
Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/90/49/cb426577c28ca3e35332815b795a99e467523843fc83cc85ca0d6be2515a/dnspython-2.0.0-py3-none-any.whl (208kB)
     |████████████████████████████████| 215kB 2.7MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.0.0

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [32]:
#@title Imports
import pymongo
from pymongo import MongoClient
import certifi
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [35]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################

# host = 'mongodb+srv://riddles:1234@cluster0.aj9ti.mongodb.net/test?retryWrites=true&w=majority'
# username = 'riddles'
# pw = '1234'
# client = pymongo.MongoClient(host=host, username=username, password=pw)

client = MongoClient('mongodb+srv://riddles:1234@cluster0.aj9ti.mongodb.net/myFirstDatabase?retryWrites=true&w=majority', tlsCAFile=certifi.where())
db = client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [36]:
serverStatusResult = db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635962145, 1),
                  'signature': {'hash': b'b\xa4\xb6\x9c\xd0j\xfd{ :xaVVg\x99'
                                        b'\xe5\xbbf\xd0',
                                'keyId': 6968909115812741121}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '438fb41196e737d1aedcff6aac76f3e7895653ac',
                  'version': '20211027.0.0.1634935068'},
 'connections': {'available': 497, 'current': 3, 'totalCreated': 26},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-02.aj9ti.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 11, 3, 17, 55, 45, 16000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 28835}}},
 'network': {'bytesIn': 319202885, 'bytesOut': 6222262, 'numRequests': 728},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 1226581019, 'ops': 284},
                 'reads': {'latency': 104246, 'ops': 4},
                 'writes': {'latency': 374378588, 'ops': 438}},
 'opcounters': {'command': 288,
                'delete': 0,
                'getmore': 1,
                'insert': 424057,
                'query': 1,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635962145, 1),
 'pid': 299443,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000051'),
          'hosts': ['cluster0-shard-00-00.aj9ti.mongodb.net:27017',
                    'cluster0-shard-00-01.aj9ti.mongodb.net:27017',
                    'cluster0-shard-00-02.aj9ti.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 11, 3, 17, 55, 45),
                        'majorityOpTime': {'t': 81,
                                           'ts': Timestamp(1635962145, 1)},
                        'majorityWriteDate': datetime.datetime(2021, 11, 3, 17, 55, 45),
                        'opTime': {'t': 81, 'ts': Timestamp(1635962145, 1)}},
          'me': 'cluster0-shard-00-02.aj9ti.mongodb.net:27017',
          'primary': 'cluster0-shard-00-02.aj9ti.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-jlc2ze-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616f17058ae5349dd51e57a3')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635962121, 8),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 1291804.0,
 'uptimeEstimate': 1291803,
 'uptimeMillis': 1291803217,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [134]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))], #randint在范围内随机生成实数
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Anna Baker', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Nick Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Natalia Roberts', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Maria Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Natalia Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Mike Baker', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Paul Turner', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Mike Peterson', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Alex Peterson', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Alex Baker', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Nick Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Alex Peterson', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Paul Peterson', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Anna Adams', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'George Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'George Baker', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Ellie Roberts', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Paul Baker', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Anna Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Ellie Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Alex Palmer', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'George Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Natalia Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Anna Baker', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Paul Baker', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Alex Adams', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [135]:
# Create a database object called “students”
db = client.students

In [136]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################


### TO DO
DAPS = db.DAPS
DAPS.insert_many(student)

#########

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [137]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO
DAPS.find_one({ "DAPS_assignment": 5 })


#########

{'_id': ObjectId('6182d1ae8916fed2d1bc9316'),
 'name': 'Alex Roberts',
 'DAPS_assignment': 5,
 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [138]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
print(list(DAPS.find({ "DAPS_assignment": 3 })))
print(list(DAPS.find({ "DAPS_assignment": 8 })))

result = DAPS.aggregate([
                    {'$match': {'$or': [{'DAPS_assignment': 3}, {'DAPS_assignment': 8}]}},
                    {'$group': {'_id': None, 'total': {'$sum': 1}}}
                ])

print(list(result))

#########

[{'_id': ObjectId('6182d1ae8916fed2d1bc9329'), 'name': 'Anna Turner', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480b08916fed2d1bc933a'), 'name': 'George Adams', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc936f'), 'name': 'Maria Turner', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc937b'), 'name': 'Maria Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc937e'), 'name': 'George Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc9393'), 'name': 'Alex Baker', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc9397'), 'name': 'Anna Adams', 'DAPS_assignment': 3, 'reviewer': 'Laura'}]
[{'_id': ObjectId('6182d1ae8916fed2d1bc9313'), 'name': 'Mike Adams', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('6182d1ae8916fed2d1bc9321'), 'name': 'Paul Turner', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480b08916fed2d1bc9338'), 'name': 'Mike Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480de8916fed2d1bc9357'), 'name': 'Paul Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480de8916fed2d1bc935e'), 'name': 'Alex Turner', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480de8916fed2d1bc935f'), 'name': 'Ellie Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc9382'), 'name': 'Nick Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc938b'), 'name': 'Maria Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc939a'), 'name': 'Ellie Roberts', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939f'), 'name': 'George Baker', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc93a3'), 'name': 'Alex Adams', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}]
[{'_id': None, 'total': 18}]

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [139]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
print("Before update:", list(DAPS.find({"DAPS_assignment": 4})))
DAPS.update_many({"DAPS_assignment": 4}, {"$set": {"DAPS_assignment": 5}})
print("After update:", list(DAPS.find({"DAPS_assignment": 5})))

#########

Before update: [{'_id': ObjectId('618481fb8916fed2d1bc938d'), 'name': 'Mike Baker', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc9390'), 'name': 'Ellie Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939b'), 'name': 'Paul Baker', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}]
After update: [{'_id': ObjectId('6182d1ae8916fed2d1bc9316'), 'name': 'Alex Roberts', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('6182d1ae8916fed2d1bc9317'), 'DAPS_assignment': 5}, {'_id': ObjectId('6182d1ae8916fed2d1bc931e'), 'DAPS_assignment': 5}, {'_id': ObjectId('6182d1ae8916fed2d1bc932f'), 'name': 'George Roberts', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480b08916fed2d1bc933e'), 'name': 'Alex Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480b08916fed2d1bc933f'), 'name': 'Mike Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480b08916fed2d1bc9340'), 'name': 'Ellie Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480b08916fed2d1bc9346'), 'name': 'Andrew Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618480de8916fed2d1bc934f'), 'name': 'George Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc936c'), 'name': 'Natalia Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc936d'), 'name': 'Mike Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc9373'), 'name': 'George Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc9376'), 'name': 'Andrew Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481508916fed2d1bc937d'), 'name': 'Maria Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc938d'), 'name': 'Mike Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'_id': ObjectId('618481fb8916fed2d1bc9390'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939b'), 'name': 'Paul Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}]

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [140]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
print("Before Deletion:", list(DAPS.find({"reviewer": "Laura"})))
DAPS.delete_many({"reviewer": "Laura"})
print("After Deletion:", list(DAPS.find({"reviewer": "Laura"})))

#########

Before Deletion: [{'_id': ObjectId('618481fb8916fed2d1bc9387'), 'name': 'Anna Baker', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc938e'), 'name': 'Paul Turner', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc9390'), 'name': 'Ellie Palmer', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc9394'), 'name': 'Nick Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc9395'), 'name': 'Alex Peterson', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc9397'), 'name': 'Anna Adams', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc9398'), 'name': 'George Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc9399'), 'name': 'George Baker', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939a'), 'name': 'Ellie Roberts', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939c'), 'name': 'Anna Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939d'), 'name': 'Ellie Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc939e'), 'name': 'Alex Palmer', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'_id': ObjectId('618481fb8916fed2d1bc93a0'), 'name': 'Natalia Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Laura'}]
After Deletion: []

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap